
/*global*/
footer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;    
    }
fieldset{
    margin-top: 1rem;
}
input{
    
}
    

/*header*/
.header-contact{
    background-color: orange;
    height: 200px;
}
.header-bar{
    display: flex;
    justify-content: space-around;
    align-items: top;
}
.header-bar nav a{
    margin-right: 2rem
}
.header-bar h2{
    margin-top: 2rem
}
.header-bar nav{
    margin-top: 3rem
}

/*main*/
.main-paragraph{
 margin-left: 10rem;
 margin-right: 10rem     
}
.btn{
    margin-right: 30rem
}

/*border adjustment*/


.contact-form{
    background-color: lightgray;
    padding:1rem;
    border-radius: 1rem;
}
.contact-form input{
    width: 45%;
}
.contact-form label{
    display: inline-block;
    width:12rem;
}
.input-container{
    margin-bottom: 1rem;
}