/*global*/
img{
    max-width: 100%;
}
html{
    font-size: 62.5%; /*reset html*/ /*1rem = 10px*/
}
*{
    margin: 0;
}
body{
    font-family: arial;
}

a{
    text-decoration: none;
}
p{
    line-height: 1.5;
    font-size: 1.6rem;
}
h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2.6rem;
    margin: 2rem 0;
}
h3{
    font-size: 2rem;
    margin: 2rem 0;
}
h4{
    font-size: 1.6rem;
    margin:1rem 0;
}
@media(max-width:768px){
    h2,h3,h4{
        text-align: center;
    }
}
ul li{

}
/*header*/
.site-header{
    background-image: url(img/header.jpg);
    height: 50vh;
    background-size: cover;
    background-position: top center;
    color: white;
    
}
.navigation-bar{
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    height: 100px;  
}
/*footer*/
.site-footer{
    background-image: url(img/encuentra.jpg);
    height: 25vh;
    background-size: cover;
    background-position: center ;
    color: white;
    
}
.site-footer-text{
text-align: center;
align-items: end;
display: block;
}

a.btn-details{
    display: block;
    background-color: orange;
    color: white;
    padding: 0.5rem;
    text-align: center;    
    margin: 2rem auto;
}
    

/*main*/
.menu a{
    color: white;
    margin-right: 2rem;
}

.about-container{
   display: flex; 
}
@media(max-width:768px){
    .about-container{
        flex-direction: column;
        margin-bottom: 4rem;
    }
    .about-item{
        
        align-items: center;
    }
}
.houses-container{
    display: flex;
    gap: 16px;
    width: fit-content;
}
@media(max-width:768px){
    .houses-container{
        flex-direction: column;
    }
}

.houses-item{
    background-color: lightgray;
}
.houses-item form{
    border-radius: 10px;
}
.houses-item-text{
    padding: 1rem;
    text-decoration: none;
}
.houses-types-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
      
}
.house-types-items li{
    justify-content: space-between;
    
}
.houses-types-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*menu*/
.menu a{
    color: white;
    margin-right: 30px;
}
.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
@media(max-width:768px){
    .menu-bar{
        flex-direction: column;
        margin-bottom: 3rem;
    }
}
p.price{
    color: green;
    padding: 1rem;
}
/*utilities*/
.container{
    width: 80%;
   margin: 0 auto;
}
@media(max-width:768px){
    .container{
        width: 95%;
    }
}
.btn-details{
    display: block;
    background-color: orange;
    color: white;
    padding: 0.5rem;
    text-align: center;
    margin: auto 0;
}
